extends _partial/base

block header
  +header('/archives')

block container
  .post.wrap
    .page
      .post-heading
        h1= page.title

      .post-meta
        | #{__('from_author')}
        span.author
          a(href="mailto: yfwz100@yeah.net")= page.author || config.author
        | #{__('write_at')}
        span.date= page.date.format('Y年M月D日')
        |  ·
        span.tags
          each tag in page.tags.data
            a.tag(href="/" + tag.path)= tag.name

      .post-body!= page.content

      include _partial/duoshuo
